
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
    
}

body{
    background-color:#0C0C0C;
}
/*.navbar-brand .visible-xs {
    display: inline;  use !important if necessary 
}*/
.nav-link p{
    font-size: 1.5vw;
}
.navbar-expand-lg .navbar-nav .nav-link {
    
    padding-right: -1.5rem;
    padding-left: 2.5rem;

}

